__pycache__/
.venv
.vscode/
# data
test_images/
dataset/
dataset_sliced/
yolo_dataset/
dataset_*/
kfold_splits_equal/

# src

# .yaml
data.yaml

# model
*.pt
*.pth
# other file
*.csv

runs/

CHANGES.txt

predictions/
predictions_*/