__pycache__/
.venv

# data
test_images/
dataset/
yolo_dataset/
classification_dataset/
dataset_SAHI/

# .zip
test_images.zip
dataset.zip
classification_dataset.zip
dataset_SAHI.zip

# other file
/sample_sub.csv
my_experement.md
ruslan_sub/


